.card {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  max-width: 300px;
  margin: 1rem;
  border-style: solid;
  border-radius: 1rem;
  text-decoration: none;
  background-color: black;
}
